body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

.container {
    width: 60%;
    margin: auto;
    background-color:white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.book-results {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book-card {
    background: linear-gradient(135deg, rgb(151, 250, 245), rgb(105, 230, 178));
    padding: 15px;
    margin: 10px;
    width: 220px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.book-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.book-card h3 {
    color: #333;
    font-size: 18px;
    margin: 10px 0;
}

.book-card p {
    color: #555;
    font-size: 14px;
    line-height: 1.4;
    height: 60px;
    overflow: hidden;
}
